.header{
    background-color: rgb(18, 26, 26);
    width: 100%;
    height: 64px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.headerPersonName{
    
}

.headerButtons{
    display: flex;
    flex-direction: row;
}