$portafolio-white: rgb(224, 235, 235);
$portafolio-black: rgb(18, 26, 26);
$portafolio-blue: rgb(38, 217, 217);
$button-background-color: linear-gradient(0deg, rgba(38, 217, 217, 0.75), rgba(38, 217, 217, 0) 50%);
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.project-card{
    height: 504px;
    width: 384px;
    min-width: 384px;
    border-radius: 36px;
    background-color: $portafolio-white;
    .project-card-title{
        border-radius: 36px;
        background-color: $portafolio-blue;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            color: $portafolio-black;
            text-align: center;
            font-size: 32px;
            font-weight:500;
        }
    }
}