$portafolio-white: rgb(224, 235, 235);
$portafolio-black: rgb(18, 26, 26);
$portafolio-blue: rgb(38, 217, 217);
$button-background-color: linear-gradient(0deg, rgba(38, 217, 217, 0.75), rgba(38, 217, 217, 0) 50%);
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.segment-2-body{
    background-color: $portafolio-black;
    color: $portafolio-white;
    font-family: Inter;
    
    display: flex;
    
    flex-direction: column;
    height: 1656px;
    width: 100%;
    align-items: center;
}

.segment-2-top-half{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    align-items: center;
    overflow-x: hidden;


    .segment-2-top-half-title{
        font-size: 64px;
    }

    .front-end-projects{
        overflow-x: scroll;
        // width: 100%;
        display: flex;
        flex-direction: row;
        gap: 128px;
        max-width: 100%;
        overflow-x: scroll;
        padding-left: 296px;
        .front-end-project{
            height: 504px;
            width: 384px;
            min-width: 384px;
            border-radius: 36px;
            background-color: $portafolio-white;
            .front-end-project-title{
                border-radius: 36px;
                background-color: $portafolio-blue;
                height: 72px;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    color: $portafolio-black;
                    text-align: center;
                    font-size: 32px;
                    font-weight:500;

                }
            }
        }
    }
}


.segment-2-bottom-half{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    align-items: center;

    .segment-2-bottom-half-title{
        font-size: 64px;
    }
}