$portafolio-white: rgb(224, 235, 235);
$portafolio-black: rgb(18, 26, 26);
$portafolio-blue: rgb(38, 217, 217);
$button-background-color: linear-gradient(0deg, rgba(38, 217, 217, 0.75), rgba(38, 217, 217, 0) 50%);
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.segment-4-title{
    color: $portafolio-white;
    font-family: Inter;
    width: 100%;
    text-align: center;
    font-size: 64px;
    // position: relative;
    // top: 180px;
}


.segment-4-body{
    padding-bottom: 100px;
    // background-color: $portafolio-black;
    // height: 1016px;
    height: min-content;
    // width: 100vw;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: $portafolio-white;
    font-family: Inter;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 0px;
    
    .segment-body-left{
        display: flex;
        flex-direction: column;
        // width: 50%;
        width: 630px;
        align-items: start;
        padding-top: 80px;
        padding-right: 80px;
        height: fit-content;
        .text-1{
            font-size: 48px;
            padding-bottom: 32px;
    
        }
        .text-2{
            font-size: 96px;
            width: 630px;
            font-weight: bold;
        }
        .text-3{
            font-size: 48px;
            text-align: end;
            align-self: flex-end;
            font-weight: bold;
            padding-bottom: 40px;
        }
        
        .segment-body-left-content{
            // font-size: 32px;
            font-size: 40px;
            
        }

        .send-e-mail-button{
            font-size: 24px;
            align-self: flex-end;
            color: $portafolio-black;
            background-color: $portafolio-blue;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 40px;
            transition: all 0.2s ease-in-out;
        }
        .send-e-mail-button:hover{
            transition: all 0.2s ease-in-out;
            background-color: $portafolio-blue;
            filter: brightness(130%);
            
        }
    }
    .segment-body-right{
        width: 50%;
        width: 660px;
        position: relative;
        top: -100px;
        // overflow: hidden;
        height: 716px;

        .blue-decal{
            background-color: $portafolio-blue;
            height: 476px;
            width: 1168px;
            border-radius: 584px;
            position: relative;
            // left: 15px;
            left: -600px;
            top: 336px;
            // position: ;
        }
        .person-img-container{
            position: relative;
            // left: 50vw;
            // top: 156px;
            left: 15px;
            top: -384px;
            height: 720px;
            // max-width: 800px;
            // width: 100%;
            width: fit-content;
            border-bottom-right-radius: 237px;
            overflow: hidden;
            img{
                position: relative;
                bottom: -10px;
                left: -5px;
                // object-fit: fill
            }
        }
    }
}
