$portafolio-white: rgb(224, 235, 235);
$portafolio-black: rgb(18, 26, 26);
$button-background-color: linear-gradient(0deg, rgba(38, 217, 217, 0.75), rgba(38, 217, 217, 0) 50%);
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.segment-body{
    background-color: $portafolio-black;
    height: 1016px;
    width: 100%;
    color: $portafolio-white;
    font-family: Inter;
}
