$portafolio-white: rgb(224, 235, 235);
$portafolio-black: rgb(18, 26, 26);
$portafolio-blue: rgb(38, 217, 217);
$button-background-color: linear-gradient(0deg, rgba(38, 217, 217, 0.75), rgba(38, 217, 217, 0) 50%);
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.segment-1-body{
    background-color: $portafolio-black;
    height: 1016px;
    width: 100vw;
    overflow-x: hidden;
    color: $portafolio-white;
    font-family: Inter;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.segment-body-left{
    display: flex;
    flex-direction: column;
    // width: 50%;
    width: 630px;
    align-items: start;
    padding-top: 80px;
    .text-1{
        font-size: 48px;
        padding-bottom: 32px;

    }
    .text-2{
        font-size: 96px;
        width: 630px;
        font-weight: bold;
    }
    .text-3{
        font-size: 48px;
        text-align: end;
        align-self: flex-end;
        font-weight: bold;
        padding-bottom: 40px;
    }
    .send-e-mail-button{
        font-size: 24px;
        align-self: flex-end;
        color: $portafolio-black;
        background-color: $portafolio-blue;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 40px;
        transition: all 0.2s ease-in-out;
    }
    .send-e-mail-button:hover{
        transition: all 0.2s ease-in-out;
        background-color: $portafolio-blue;
        filter: brightness(130%);
        
    }
}
.segment-body-right{
    width: 50%;
    width: 660px;
    .blue-decal{
        background-color: $portafolio-blue;
        height: 476px;
        width: 1168px;
        border-radius: 584px;
        position: relative;
        left: 15px;
        top: 336px;
        // position: ;
    }
    .person-img-container{
        position: absolute;
        left: 50vw;
        top: 156px;
        height: 720px;
        border-radius: 237px;
        overflow: hidden;
        img{
            position: relative;
            bottom: -10px;
            left: -5px;
        }
    }
}