$portafolio-white: rgb(224, 235, 235);
$portafolio-black: rgb(18, 26, 26);
$portafolio-blue: rgb(38, 217, 217);
$button-background-color: linear-gradient(0deg, rgba(38, 217, 217, 0.75), rgba(38, 217, 217, 0) 50%);
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.segment-title{
    color: $portafolio-white;
    font-family: Inter;
    width: 100%;
    text-align: center;
    font-size: 64px;
}
.segment-4-body{
    color: $portafolio-white;
    font-family: Inter;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: min-content;
    // width: 70%;
    // justify-content: center;
    
    
    .segment-body-right{
        // font-size: 40px;
        font-size: 24px;
        text-align: center;
        width: 28.64%;
        // width: 60%;
        // width: 550;
        padding-right: 15%;
        // height: min-content;
        
    }
    // .segment-body-left{
    //     max-width: 550px;
    //     padding: 0%;
    // }
    // .person-img-container{
    //     max-width: 0px;
    //     // width: fit-content;
    //     // height: 800px;
    //     .person-img{
    //         overflow: hidden;
    //         // border-bottom-right-radius: 2370px;
    //         // width: 550px;
    //         z-index: 2;
    //         position: relative;
    //         inset-block-start: -344.8px;//top to bottom
    //         inset-inline-start: 0px;//left to right
    //     }
    // }
    // .decal-container{
    //     // max-width: 0px;

    // }
    // .blue-decal{
    //     background-color: $portafolio-blue;
    //     height: 476px;
    //     width: 1168px;
    //     border-radius: 584px;
    //     position: relative;
    //     // left: 15px;
    //     // top: 336px;
    //     inset-block-start: 160px;
    //     inset-inline-start: -650px;
    //     z-index: 1;
    // }

    .segment-body-left{
        height: min-content;
        width: 40%;
        // width: 660px;
        padding: 0%;
        // overflow: hidden;
        .blue-decal{
            background-color: $portafolio-blue;
            height: 476px;
            width: 1168px;
            border-radius: 584px;
            position: relative;
            left: -600px;
            top: 336px;
            // position: ;
        }
        .person-img-container{
            position: relative;
            // left: 50vw;
            // top: 156px;
            left: 15px;
            top: -384px;
            height: 720px;
            // max-width: 800px;
            // width: 80%;
            border-bottom-right-radius: 237px;
            overflow: hidden;
            img{
                position: relative;
                bottom: -10px;
                left: -5px;
                // object-fit: fill
            }
        }
    }
}    


