$portafolio-white: rgb(224, 235, 235);
$portafolio-black: rgb(18, 26, 26);
$portafolio-blue: rgb(38, 217, 217);
$button-background-color: linear-gradient(0deg, rgba(38, 217, 217, 0.75), rgba(38, 217, 217, 0) 50%);
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.segment-2-body{
    // background-color: $portafolio-black;
    color: $portafolio-white;
    font-family: Inter;
    
    display: flex;
    
    flex-direction: column;
    height: 1656px;
    width: 100%;
    align-items: center;
}

.segment-2-half{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    align-items: center;
    overflow-x: hidden;


    .segment-2-half-title{
        font-size: 64px;
        padding-bottom: 40px;
    }

    .segment-2-projects{
        overflow-x: scroll;
        // width: 100%;
        display: flex;
        flex-direction: row;
        gap: 80px;
        // width: 100%;
        width: fit-content;
        max-width: 80%;
        overflow-x: scroll;
    }
}