$portafolio-white: rgb(224, 235, 235);
$portafolio-black: rgb(18, 26, 26);
$portafolio-blue: rgb(38, 217, 217);
@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

.skill-bar{
    height: 64px;
    display: flex;
    color: $portafolio-black;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    width: 64%;
    //100% - x
    //1920px - 1227%
    // padding-bottom: 80px;
}

.skill-name{
    width: fit-content;
    padding-right: 24px;

}

.skill-bar{
    background-color: $portafolio-white;
    border-radius: 36px;
    display: flex;
}

.skill-bar-progres-bar{
    background-color: $portafolio-blue;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 36px;
    // width: 300px;
    text-wrap: nowrap;
}

.skill-bar-progres-text{
    justify-content: end;
    // padding-left: 16px;
    padding-left: 8px;
    padding-right: 24px;
    min-width: max-content;

}