.testBox{
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}

.bottomGap{
    height: 800px;
}


.horizontalScrollContainer{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-width: 600px;
}

.horizontalScrollItem{
    min-width: 200px;
}